:root {
    --color-texto: #ffffff;
    --color-titulo1: #bc0f17;
    --color-titulo2: #ffffff;
    --color-titulo3: rgb(255, 255, 255);
    --color-parrafo: rgb(252, 252, 252);
    --color-text: rgb(255, 255, 255);
    --font-sin-serif: Arial, Helvetica, sans-serif;
    --fondo-body: rgb(12, 12, 12);
}
label {
    color: var(--color-text);
    text-align: center;
    margin-bottom: 20px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--fondo-body);
    font-family: var(--font-sin-serif);
    color: var(--color-texto);
}
@font-face {
    font-family: crackvetica;
    src: url(../Tipografía/crackvetica/Crackvetica.ttf) format(truetype);
}
h1 {
    font-size: 5rem;
    font-family: crackvetica;
    color: var(--color-titulo1);
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 3rem;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: var(--color-titulo2);
    text-align: center;
    margin-bottom: 20px;
}

h3 {
    font-size: 2rem;
    color: var(--color-titulo3);
    text-align: center;
    margin-bottom: 20px;
}

img {
    text-align: center;
    margin: 0;
}

p {
    font-size: 1rem;
    color: var(--color-parrafo);
    text-align: justify;
    margin-bottom: 15px;
}
/* Botones y enlaces */
button, .btn {
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
}

button:hover, .btn:hover {
  background-color: #0056b3;
  cursor: pointer;
}
/* Sombras */
h1, h2, h3 {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.6);
}

button, .btn {
  box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
/* Animación de Botones */
button, .btn {
  transition: all 0.3s ease;
  transform: scale(1);
}
button:hover, .btn:hover {
  transform: scale(1.05);
}
/* Base para Móviles */
@media (max-width: 768px) {
  h1 { font-size: 3rem; }
  h2 { font-size: 2rem; }
  h3 { font-size: 1.2rem; }
  section { padding: 15px; }
}
/* Vista bien Celular */
@media (max-width: 768px) {
  h1 { font-size: 3rem; }
  h2 { font-size: 2rem; }
  h3 { font-size: 1.2rem; }
  p  { font-size: 0.9rem; }
  .card, .btn { width: 100%; box-sizing: border-box; }
}
/* Carrito */
#lista-carrito li {
    transition: all 0.3s ease;
}

#lista-carrito li.eliminado {
    opacity: 0;
    transform: translateX(-50%);
}
/* Transiciones */
* {
  transition: all 0.2s ease-in-out;
}
/* Scroll */
html {
  scroll-behavior: smooth;
}
/* Carrusel */
.partners-logos {
    background: rgb(12, 12, 12);
    padding: 20px 0;
    text-align: center;
}

.slider-marcas img {
    width: 100px;
    margin: 0 auto;
    filter: grayscale(100%);
    transition: filter 0.3s;
}

.slider-marcas img:hover {
    filter: grayscale(0%);
}